@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(StratosSkyeng),
    url('./fonts/Roboto-Light.ttf') format('ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

#app {
  height: 100vh;
  display: flex;
  gap: 32px;
  justify-content: center;
  background-image: url('../public/assets/summer-bg.jpg');
}

.item {
  margin-top: 24px;
  border-radius: 8px;
  border: 1px solid #FFF;
  padding: 30px;
  height: fit-content;
  position: relative;

  &__active {
    border-radius: 8px;
    border: 1px solid #000;
    padding: 30px;
  }

  &__img {
    width: 40px;
    height: 40px;
  }

  &__input {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
  }
}

